@inject IJSRuntime JSRuntime

<div class="modal fade" id="@modalId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog @dialogPosition">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-3 @headerColorClass" id="staticBackdropLabel">@Title</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @ChildContent
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnClose">Cancel</button>
                <button id="saveButton" type="button" class="btn proceed-btn @proceedBtnColor" @onclick="OnSaveClicked">
                    <span class="spinner-border spinner-border-sm d-none" role="status"
                          aria-hidden="true"></span>
                    @SaveButtonText
                </button>
            </div>
        </div>
    </div>
</div>


@code {

    private string headerColorClass = "text-primary";

    private string proceedBtnColor = "btn-primary";

    private string dialogPosition = "modal-dialog-centered";


    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string SaveButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string modalId { get; set; }

    [Parameter]
    public string modalMode 
    {
        set
        {
            if (value == "delete")
            {
                proceedBtnColor = "btn-danger";
                headerColorClass = "";
                dialogPosition = "modal-md";
                SaveButtonText = "Delete";
            }else
            {
                headerColorClass = "text-primary";
                proceedBtnColor = "btn-primary";
                dialogPosition = "";
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("modalProcessing");
            await JSRuntime.InvokeVoidAsync("modalProcessDone");
        }
    }

    private async Task OnSaveClicked()
    {
        await JSRuntime.InvokeVoidAsync("modalProcessing");
        await OnSave.InvokeAsync(null);
    }

}
