@page "/category/categories"
@inject CategoryEndpoint CategoryEndpoint
@inject IJSRuntime JSRuntime
@inject IConfiguration Config

<div class="category-page-content">

    <div class="row">

        <div class="col-lg-9">

            <div class="row align-items-end">
                <div class="col ">
                    <h3 class="table-title">List of Categories</h3>
                </div>

                <div class="col ">
                    <button type="button" class="add-btn btn btn-gradient-primary " data-bs-toggle="modal"
                            data-bs-target="#categoryModal" @onclick="OpenAddProductModal">
                        <i class="fa-regular fa-circle-plus"></i>
                        Add
                    </button>
                </div>
            </div>

            <div class="table-card">

                <div class="row ">
                    <div class="col-md  d-flex">
                        <div class="search-bar">
                            <input type="search" class="form-control" placeholder="Search...">
                        </div>

                        <div class="sort-select">
                            <label for="sort-table">Sort by:</label>
                            <select class="form-select form-select-sm" id="sort-table"
                                    aria-label=".form-select-sm example">
                                <option selected>Select Order</option>
                                <option value="1">Name</option>
                                <option value="2">No. Product</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="table-wrapper">
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Category Name</th>
                                <th scope="col">No. of Sub Categories</th>
                                <th scope="col">No. of Product</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            @if(requestTableResult != null)
                            {
                                @foreach (var item in requestTableResult.Models)
                                {
                                    <tr>
                                        <td scope="row">
                                            <span></span>
                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.SubcategoryCount</td>
                                        <td>@item.ProductCount</td>
                                        <td>
                                            <div class="table-icons">
                                                <i class="fa-solid fa-pencil" data-bs-toggle="modal"
                                                     data-bs-target="#categoryModal"
                                                     @onclick="@(() => OpenEditProductModal(item.Id))"></i>
                                                <i class="fa-solid fa-xmark"></i>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <div class="row justify-content-center align-items-lg-center">
                                    <h6>No Category has been loaded.</h6>
                                </div>
                            }

                        </tbody>

                    </table>

                </div>

                @if(requestTableResult != null)
                {
                    @if (requestTableResult.TotalPages > 1)
                    {
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>

                                @*@for (int i = 1; i < requestItems.TotalPages; i++)
                        {
                        <li class="page-item"><a class="page-link" @onclick="RequestPage(i)"> @i </a></li>
                        }*@

                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    }
                }

            </div>
        </div>

        <div class="col-lg-3">

            <div class="product-list-view">

                <div class="product-list-view-body">

                    <div class="product-list-view-header">
                        <h5>Beauty and Care</h5>
                        <p>1 item</p>
                    </div>

                    <div class="product-list-view-content">

                        <ul>
                            <li class="product-list-view-item" data-bs-target="#viewProductModal"
                                data-bs-toggle="modal">

                                <div class="product-image">
                                    <img src="/icon-192.png" alt="">
                                </div>

                                <div class=" row product-info">
                                    <div class="col-md product-name">
                                        <h5>Dove Antibacterial</h5>
                                    </div>

                                    <div class="col-md-4 product-detail">
                                        <p>Sold:</p>
                                        <b>583</b>
                                    </div>

                                    <div class="col-md-4 product-detail">
                                        <p>Revenue:</p>
                                        <b>₱ 10,000</b>
                                    </div>
                                </div>

                            </li>
                        </ul>


                    </div>

                    <div class="product-list-view-footer">
                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

            <div class="recent-activity">
                <h5 class="recent-activity-title">Recent Activity</h5>

                <div class="recent-activity-body">
                    <ul>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-primary">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-warning">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-danger">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                    </ul>
                </div>

            </div>


        </div>

    </div>

</div>

<Modal modalId="categoryModal"
       Title= "@modalTitle"
       SaveButtonText="Save"
       OnSave="SaveHandler">

    <p class="card-description text-justify">
        This is where you can add new product category to your website.
        Just fill out the form with the category name.
    </p>

    <EditForm Model="@modalModel" OnInvalidSubmit="@SaveHandler">
        <DataAnnotationsValidator/>

        <div class="mb-3">
            <label for="productName" class="form-label">Category Name</label>
            <InputText id="categoryName" class="form-control" placeholder="Product Name" @bind-Value="modalModel.CategoryName" />
            <ValidationMessage For="@(()=> modalModel.CategoryName)"/>
        </div>

    </EditForm>

</Modal>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <Toast ToastId="categoryToast" Message="@toastMessage" />
</div>


@code {
    RequestPageDTO request = new();
    RequestModel<CategoryTableDTO> requestTableResult;

    CategoryModel modalModel = new ();
    string? errorMessage;
    string? toastMessage;
    private string modalTitle = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        request.PageNo =1;
        request.ItemPerPage = int.Parse(Config["AppSettings:itemPerPage"]);
        request.OrderBy = GetOrderBy.NameAcs;
        requestTableResult = await CategoryEndpoint.GetTableCategories(request);
    }

    private void RequestPage(int page)
    {

    }

    private void OpenAddProductModal()
    {
        modalTitle = "Add New Modal";
    }

    private void OpenEditProductModal(int id)
    {
        modalTitle = "Add New Modal" + id.ToString();
    }

    private async Task SaveHandler()
    {
        errorMessage = "";

        try
        {
            var name = modalModel.CategoryName;

            if (name is not null)
            {
                await CategoryEndpoint.AddCategoryAsync(name);
                toastMessage = "Successfully added new category.";

                await JSRuntime.InvokeVoidAsync("modalProcessDone", "#categoryModal");
                await JSRuntime.InvokeVoidAsync("showToast", "#categoryToast");
            }

        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            toastMessage = "An error occured";
            Console.WriteLine(errorMessage);
            await JSRuntime.InvokeVoidAsync("modalProcessDone");
        }

    }

}