@page "/category/categories"
@inject CategoryEndpoint CategoryEndpoint
@inject IJSRuntime JSRuntime
@inject IConfiguration Config

<div class="category-page-content">

    <div class="row">

        <div class="col-lg-9">

            <div class="row align-items-end">
                <div class="col ">
                    <h3 class="table-title">List of Categories</h3>
                </div>

                <div class="col ">
                    <button type="button" class="add-btn btn btn-gradient-primary " data-bs-toggle="modal"
                            data-bs-target="#categoryModal" @onclick="OpenAddCategoryModal">
                        <i class="fa-regular fa-circle-plus"></i>
                        Add
                    </button>
                </div>
            </div>

            <div class="table-card">

                <div class="row ">
                    <div class="col-md  d-flex">
                        <div class="search-bar">
                            <input type="search" class="form-control" placeholder="Search..." @oninput="OnSearchItem">
                        </div>

                        <div class="sort-select">
                            <label for="sort-table">Sort by:</label>

                            <select class="form-select form-select-sm"
                                    @onchange="OnSelectSortChange">
                                <option value="@OrderCategorySummaryBy.NameAcs">Name A-Z</option>
                                <option value="@OrderCategorySummaryBy.NameDesc">Name Z-A</option>

                                <option value="@OrderCategorySummaryBy.ProductCountAcs">
                                    Product &#x2191;&#xFE0E;
                                </option>

                                <option value="@OrderCategorySummaryBy.ProductCountDesc">
                                    Product &#x2193;&#xFE0E;
                                </option>

                                <option value="@OrderCategorySummaryBy.ProductCountAcs">
                                    SubCategory &#x2191;&#xFE0E;
                                </option>

                                <option value="@OrderCategorySummaryBy.ProductCountDesc">
                                    SubCategory &#x2193;&#xFE0E;
                                </option>
                            </select>

                        </div>
                    </div>

                </div>

                <div class="table-wrapper">
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Category Name</th>
                                <th scope="col">No. of Sub Categories</th>
                                <th scope="col">No. of Product</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        @if (categorySummaryRequest != null)
                        {
                            @foreach (var item in categorySummaryRequest.Models)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <span></span>
                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.SubcategoryCount</td>
                                        <td>@item.ProductCount</td>
                                        <td>
                                            <div class="table-icons">

                                                <i class="fa-solid fa-pencil" data-bs-toggle="modal"
                                                   data-bs-target="#categoryModal"
                                                   @onclick="@(() => OpenEditCategoryModal(item.Id))"></i>

                                                <i class="fa-solid fa-xmark" data-bs-toggle="modal"
                                                   data-bs-target="#categoryModal"
                                                   @onclick="@(() => OpenDeleteCategoryModal(item.Id))"></i>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }

                    </table>

                    @if (categorySummaryRequest == null)
                    {
                        <div class="no-item">
                            @if (isLoading)
                            {
                                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            else
                            {
                                <h6>No Category has been loaded.</h6>
                            }
                        </div>
                    }
                </div>

                <Pagination 
                    CurrentPage="@currentPage" 
                    PageCount="@totalPages" 
                    OnPageChanged="HandlePageChange" />


            </div>
        </div>

        <div class="col-lg-3">

            <div class="product-list-view">

                <div class="product-list-view-body">

                    <div class="product-list-view-header">
                        <h5>Beauty and Care</h5>
                        <p>1 item</p>
                    </div>

                    <div class="product-list-view-content">

                        <ul>
                            <li class="product-list-view-item" data-bs-target="#viewProductModal"
                                data-bs-toggle="modal">

                                <div class="product-image">
                                    <img src="/icon-192.png" alt="">
                                </div>

                                <div class=" row product-info">
                                    <div class="col-md product-name">
                                        <h5>Dove Antibacterial</h5>
                                    </div>

                                    <div class="col-md-4 product-detail">
                                        <p>Sold:</p>
                                        <b>583</b>
                                    </div>

                                    <div class="col-md-4 product-detail">
                                        <p>Revenue:</p>
                                        <b>₱ 10,000</b>
                                    </div>
                                </div>

                            </li>
                        </ul>


                    </div>

                    <div class="product-list-view-footer">
                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

            <div class="recent-activity">
                <h5 class="recent-activity-title">Recent Activity</h5>

                <div class="recent-activity-body">
                    <ul>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-primary">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-warning">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6 class="text-danger">Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                        <li class="recent-activity-item">

                            <div class="recent-activity-item-header">
                                <h6>Added new Categories</h6>
                                <small class="text-primary">3 days ago</small>
                            </div>
                            <p class="recent-activity-item-details">
                                Rex added 20 categories
                            </p>

                        </li>

                    </ul>
                </div>

            </div>


        </div>

    </div>

</div>

<Modal modalId="categoryModal"
       Title="@modalTitle"
       SaveButtonText="Save"
       modalMode="@modalMode"
       OnSave="SaveHandler">

    @if (modalMode != "delete")
    {
        @if (string.IsNullOrEmpty(errorMessage))
        {
            <p class="card-description text-justify">
                This is where you can modify your category list for your website.
                Just fill out the form with the category name.
            </p>
        }
        else
        {
            <p class="card-description text-justify text-danger">
                @errorMessage
            </p>
        }

        <EditForm Model="@modalModel" OnInvalidSubmit="@SaveHandler">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <InputText id="categoryName" class="form-control" placeholder="Category Name" @bind-Value="modalModel.CategoryName" />
                <ValidationMessage For="@(()=> modalModel.CategoryName)" />
            </div>

        </EditForm>
    }
    else
    {
        <div>
            Are you sure you want to delete
            <b class="text-primary">@(modalModel.CategoryName)</b>?
        </div>
    }

</Modal>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <Toast ToastId="categoryToast" Message="@toastMessage" />
</div>

@code {
    private RequestPageDTO categoryPageRequest = new RequestPageDTO { PageNo = 1 };
    private RequestModel<CategorySummaryDTO> categorySummaryRequest;
    private bool isLoading = true;
    private int totalPages = 1;
    private int currentPage = 1;

    private CategoryModel modalModel = new();
    private string modalTitle = string.Empty;
    private string modalMode = string.Empty;

    private string errorMessage = string.Empty;
    private string toastMessage = string.Empty;

    private OrderCategorySummaryBy selectedSortValue;

    protected override async Task OnInitializedAsync()
    {
        categoryPageRequest.ItemPerPage = int.Parse(Config["AppSettings:itemPerPage"]);
        RequestItems(currentPage, selectedSortValue);
    }

    private async Task RequestItems(int page, OrderCategorySummaryBy orderBy)
    {
        categoryPageRequest.PageNo = page;
        categoryPageRequest.OrderBy = (int)orderBy;
        isLoading = true;
        categorySummaryRequest = await CategoryEndpoint.GetCategorySummary(categoryPageRequest);

        if (categorySummaryRequest != null)
        {
            totalPages = categorySummaryRequest.TotalPages;
        }

        isLoading = false;
        StateHasChanged();
    }

    private async Task OnSearchItem(ChangeEventArgs e)
    {
        currentPage = 1;
        string? searchFor = e.Value.ToString();
        categoryPageRequest.LookFor = VerifySearchBar(searchFor);
        await RequestItems(currentPage, selectedSortValue);
    }

    private async Task HandlePageChange(int page)
    {
        currentPage = page;
        await RequestItems(page, selectedSortValue);
    }

    private async Task OnSelectSortChange(ChangeEventArgs e)
    {
        selectedSortValue = (OrderCategorySummaryBy)Enum.Parse(typeof(OrderCategorySummaryBy), e.Value.ToString());
        currentPage = 1;
        await RequestItems(1, selectedSortValue);
    }

    private void OpenAddCategoryModal()
    {
        modalTitle = "Add New Category";
        modalMode = "add";
        modalModel.CategoryName = string.Empty;
        modalModel.Id = 0;
    }

    private void OpenEditCategoryModal(int categoryId)
    {
        modalTitle = "Edit Category";
        modalMode = "edit";
        SetModalModel(categoryId);
    }

    private void OpenDeleteCategoryModal(int categoryId)
    {
        modalTitle = "Delete Category";
        modalMode = "delete";
        SetModalModel(categoryId);
    }

    private async Task SaveHandler()
    {
        if (modalMode == "add")
        {
            await AddCategory();
        }
        else if (modalMode == "edit")
        {
            await EditCategory();
        }
        else if (modalMode == "delete")
        {
            await DeleteCategory();
        }
    }

    private async Task AddCategory()
    {
        try
        {
            if (string.IsNullOrEmpty(modalModel.CategoryName))
            {
                errorMessage = "Category name is required.";
                await JSRuntime.InvokeVoidAsync("enableButtons");
                return;
            }
            await CategoryEndpoint.AddCategoryAsync(modalModel.CategoryName);
            await CloseModal("Successfully added new category.");
        }
        catch (HttpRequestException ex)
        {
            errorMessage = $"Failed to add category: {ex.Message}";
        }
    }

    private async Task EditCategory()
    {
        try
        {
            if (string.IsNullOrEmpty(modalModel.CategoryName))
            {
                errorMessage = "Category name is required.";
                return;
            }

            var categoryToUpdate = new CategoryModel
            {
                Id = modalModel.Id,
                CategoryName = modalModel.CategoryName
            };

            await CategoryEndpoint.UpdateCategory(categoryToUpdate);
            await CloseModal("Successfully updated category.");
        }
        catch (HttpRequestException ex)
        {
            errorMessage = $"Failed to update category: {ex.Message}";
        }

    }

    private async Task DeleteCategory()
    {
        try
        {
            var categoryToUpdate = new CategoryModel
            {
                Id = modalModel.Id,
                CategoryName = modalModel.CategoryName
            };

            await CategoryEndpoint.DeleteCategory(categoryToUpdate);
            await CloseModal("Successfully remove category.");
        }
        catch (HttpRequestException ex)
        {
            errorMessage = $"Failed to remove category: {ex.Message}";
        }
    }


    private async Task CloseModal(string toastmsg)
    {
        toastMessage = toastmsg;
        await JSRuntime.InvokeVoidAsync("modalProcessDone", "#categoryModal");
        await JSRuntime.InvokeVoidAsync("showToast", "#categoryToast");

        //Request for Update
        await RequestItems(currentPage, selectedSortValue);
    }

    private void SetModalModel(int categoryId)
    {
        var categoryToEdit = categorySummaryRequest.Models.FirstOrDefault(x => x.Id == categoryId);
        if (categoryToEdit != null)
        {
            modalModel.CategoryName = categoryToEdit.CategoryName;
            modalModel.Id = categoryId;
        }
    }

    private string? VerifySearchBar(string? str)
    {
        if (string.IsNullOrWhiteSpace(str))
        {
            return null;
        }
        else
        {
            return str;
        }
    }

}