@page "/category/categories"
@inject CategoryEndpoint CategoryEndpoint
@inject IJSRuntime JSRuntime
@inject IConfiguration Config

<div class="category-page-content">

    <div class="row">

        <div class="col-lg-9">

            <div class="row align-items-end">
                <div class="col ">
                    <h3 class="table-title">List of Categories</h3>
                </div>

                <div class="col ">
                    <button type="button" class="add-btn btn btn-gradient-primary " data-bs-toggle="modal"
                            data-bs-target="#categoryModal" @onclick="OpenAddCategoryModal">
                        <i class="fa-regular fa-circle-plus"></i>
                        Add
                    </button>
                </div>
            </div>

            <div class="table-card">

                <div class="table-card-header">
                    <div class="search-bar">
                        <input type="search" class="form-control" placeholder="Search..." @oninput="OnSearchItem">
                    </div>

                    @if (categorySummary != null)
                    {
                        <div class="count-item">
                            @{
                                int startItemIndex = (categorySummary.IsInPage - 1) * categorySummary.ItemPerPage + 1;
                                int endItemIndex = (startItemIndex - 1) + categorySummary.Models.Count;
                                string displayText = $"Showing {startItemIndex}-{endItemIndex} out of {categorySummary.TotalItems}";
                            }
                            @displayText
                        </div>
                    }
                </div>

                <div class="table-wrapper">
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col"></th>

                                <th scope="col" @onclick="(() => OnSortChange('c')) " class="sortable
                                        @((selectedSortValue == OrderCategorySummaryBy.NameAcs) ? "" : "asc")
                                        @((selectedSortValue == OrderCategorySummaryBy.NameAcs ||
                                         selectedSortValue == OrderCategorySummaryBy.NameDesc ) ? "active" : "")  ">
                                    Category Name
                                </th>

                                <th scope="col" @onclick="(() => OnSortChange('s')) " class="sortable
                                        @((selectedSortValue == OrderCategorySummaryBy.SubCategoryCountAcs) ? "" : "asc")
                                        @((selectedSortValue == OrderCategorySummaryBy.SubCategoryCountAcs ||
                                         selectedSortValue == OrderCategorySummaryBy.SubCategoryCountDesc ) ? "active" : "")  ">
                                    No. of Sub Categories
                                </th>

                                <th scope="col" @onclick="(() => OnSortChange('p')) " class="sortable
                                        @((selectedSortValue == OrderCategorySummaryBy.ProductCountAcs) ? "" : "asc")
                                        @((selectedSortValue == OrderCategorySummaryBy.ProductCountAcs ||
                                         selectedSortValue == OrderCategorySummaryBy.ProductCountDesc ) ? "active" : "")  ">
                                    No. of Product
                                </th>

                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        @if (categorySummary != null)
                        {
                            @foreach (var item in categorySummary.Models)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <span></span>
                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.SubcategoryCount</td>
                                        <td>@item.ProductCount</td>
                                        <td>
                                            <div class="table-icons">

                                                <i class="fa-solid fa-pencil" data-bs-toggle="modal"
                                           data-bs-target="#categoryModal"
                                           @onclick="@(() => OpenEditCategoryModal(item.Id))"></i>

                                                <i class="fa-solid fa-xmark" data-bs-toggle="modal"
                                           data-bs-target="#categoryModal"
                                           @onclick="@(() => OpenDeleteCategoryModal(item.Id))"></i>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }

                    </table>

                    @if (categorySummary == null)
                    {
                        <div class="no-item">
                            @if (isLoading)
                            {
                                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            else
                            {
                                <h6>No Category has been loaded.</h6>
                            }
                        </div>
                    }
                </div>

                <Pagination CurrentPage="@currentPage"
                            PageCount="@totalPages"
                            OnPageChanged="OnHandlePageChange" />
            </div>
        </div>


        <div class="col-lg-3 d-flex justify-content-center align-content-center">

            NOTHING IN HERE?

        </div>

    </div>

</div>


<Modal @ref="modalComponentRef"
        modalId="categoryModal"
        Title="@modalTitle"
        SaveButtonText="Save"
        modalMode="@modalMode"
        OnSave="OnSaveModal"
        OnClose="OnCloseModal">

    @if (modalMode != "delete")
    {
        <div class="card-description d-flex">
            <p>
                This is where you can add new product category to your website.
                Just fill out the form with the category name.
            </p>
            <button type="button" class="btn btn-success import-btn"
                data-bs-toggle="modal" data-bs-target="#importCategoryModal">
                <i class="fa-regular fa-file-spreadsheet"></i>
                Import
            </button>
        </div>

        <EditForm Model="@modalModel" OnInvalidSubmit="@OnSaveModal">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <InputText id="categoryName" class="form-control" placeholder="Category Name" @bind-Value="modalModel.CategoryName" />
                <ValidationMessage For="@(()=> modalModel.CategoryName)" class="form-validation" />

            </div>

        </EditForm>
    }
    else
    {
        <div>
            Are you sure you want to delete
            <b class="text-primary">@(modalModel.CategoryName)</b>?
        </div>
    }

</Modal>


<ImportCategoryModal/>

<HttpErrorPopUp @ref="HttpErrorHandler" />

@code {
    private HttpErrorPopUp? HttpErrorHandler = new();
    private RequestModel<CategorySummaryDTO>? categorySummary;
    private RequestPageDTO categoryRequestDTO = new();
    private CategoryModel modalModel = new();

    private bool isLoading = true;
    private int totalPages = 1;
    private int currentPage = 1;

    private Modal? modalComponentRef;
    private string modalTitle = string.Empty;
    private string modalMode = string.Empty;

    private OrderCategorySummaryBy selectedSortValue;

    protected override async Task OnInitializedAsync()
    {
        categoryRequestDTO.PageNo = 1;
        categoryRequestDTO.ItemPerPage = int.Parse(Config["AppSettings:itemPerPage"] ?? "10");
        await RequestItems(currentPage, selectedSortValue);
    }

    private async Task RequestItems(int page, OrderCategorySummaryBy orderBy)
    {
        categoryRequestDTO.PageNo = page;
        categoryRequestDTO.OrderBy = (int)orderBy;
        isLoading = true;

        categorySummary = (await CategoryEndpoint
        .GetCategorySummary(categoryRequestDTO))?.Data;

        if (categorySummary != null)
        {
            totalPages = categorySummary.TotalPages;
        }

        isLoading = false;
        StateHasChanged();
    }

    private async Task OnSearchItem(ChangeEventArgs e)
    {
        currentPage = 1;
        string? searchFor = e?.Value?.ToString();
        categoryRequestDTO.LookFor = VerifySearchBar(searchFor);
        await RequestItems(currentPage, selectedSortValue);
    }

    private async Task OnSortChange(char sortBy)
    {

        switch (sortBy)
        {
            case 'c':
                selectedSortValue = selectedSortValue == OrderCategorySummaryBy.NameAcs ?
                OrderCategorySummaryBy.NameDesc : OrderCategorySummaryBy.NameAcs;
                break;

            case 's':
                selectedSortValue = selectedSortValue == OrderCategorySummaryBy.SubCategoryCountAcs ?
                OrderCategorySummaryBy.SubCategoryCountDesc : OrderCategorySummaryBy.SubCategoryCountAcs;
                break;

            case 'p':
                selectedSortValue = selectedSortValue == OrderCategorySummaryBy.ProductCountAcs ?
                OrderCategorySummaryBy.ProductCountDesc : OrderCategorySummaryBy.ProductCountAcs;
                break;

            default:
                selectedSortValue = selectedSortValue == OrderCategorySummaryBy.NameAcs ?
                OrderCategorySummaryBy.NameDesc : OrderCategorySummaryBy.NameAcs;
                break;
        }


        currentPage = 1;
        await RequestItems(1, selectedSortValue);
    }

    private async Task OnHandlePageChange(int page)
    {
        currentPage = page;
        await RequestItems(page, selectedSortValue);
    }

    private async Task OnSaveModal()
    {
        if (modalMode == "add")
        {
            await AddCategory();
        }
        else if (modalMode == "edit")
        {
            await EditCategory();
        }
        else if (modalMode == "delete")
        {
            await DeleteCategory();
        }
    }

    private async Task OnCloseModal()
    {
        modalModel.CategoryName = string.Empty;
        await RequestItems(currentPage, selectedSortValue);
    }

    private void OpenAddCategoryModal()
    {
        modalTitle = "Add New Category";
        modalMode = "add";
        modalModel.CategoryName = string.Empty;
        modalModel.Id = 0;
    }

    private void OpenEditCategoryModal(int categoryId)
    {
        modalTitle = "Edit Category";
        modalMode = "edit";
        SetModalModel(categoryId);
    }

    private void OpenDeleteCategoryModal(int categoryId)
    {
        modalTitle = "Delete Category";
        modalMode = "delete";
        SetModalModel(categoryId);
    }

    private async Task AddCategory()
    {
        try
        {
            var category = new CategoryModel
            {
                CategoryName = modalModel.CategoryName
            };

            var result = await CategoryEndpoint.AddCategoryAsync(category);
            if (HttpErrorHandler != null)
                await HttpErrorHandler.HandleHttpErrors<CategoryModel>(result);

            if (result != null && result.IsSuccessStatusCode)
            {
                await JSRuntime.InvokeVoidAsync("SuccessToast",
               $"Successfully added {modalModel.CategoryName}");
            }

        }
        catch (Exception ex)
        {
            await CatchError(ex.Message);
        }

        modalComponentRef?.Close();
    }

    private async Task EditCategory()
    {
        try
        {
            var category = new CategoryModel
                {
                    Id = modalModel.Id,
                    CategoryName = modalModel.CategoryName
                };

            var result = await CategoryEndpoint.UpdateCategory(category);
            if (HttpErrorHandler != null)
                await HttpErrorHandler.HandleHttpErrors<List<CategorySummaryDTO>>(result);

            if (result != null && result.IsSuccessStatusCode)
            {
                await JSRuntime.InvokeVoidAsync("SuccessToast",
               $"Successfully update {modalModel.CategoryName}");
            }

        }
        catch (Exception ex)
        {
            await CatchError(ex.Message);
        }

        modalComponentRef?.Close();
    }

    private async Task DeleteCategory()
    {
        try
        {
            var category = new CategoryModel
            {
                Id = modalModel.Id,
                CategoryName = modalModel.CategoryName
            };

            var result = await CategoryEndpoint.DeleteCategory(category);
            if (HttpErrorHandler != null)
                await HttpErrorHandler.HandleHttpErrors<CategorySummaryDTO>(result);

            if (result != null && result.IsSuccessStatusCode)
            {
                await JSRuntime.InvokeVoidAsync("WarningToast",
               $"Successfully remove {modalModel.CategoryName}");
            }

        }
        catch (Exception ex)
        {
            await CatchError(ex.Message);
        }

        modalComponentRef?.Close();
    }

    private void SetModalModel(int categoryId)
    {
        var category = categorySummary?.Models
        .FirstOrDefault(x => x.Id == categoryId);

        if (category != null)
        {
            modalModel.Id = categoryId;
            modalModel.CategoryName = category.CategoryName ?? "";
        }
    }

    private async Task CatchError(string exMessage)
    {
        var result = new ResultDTO<CategoryEndpoint>
            {
                ErrorCode = 1
            };

        if (HttpErrorHandler != null)
            await HttpErrorHandler.HandleHttpErrors<CategoryEndpoint>(result, exMessage);
    }

    private string? VerifySearchBar(string? str) =>
    string.IsNullOrWhiteSpace(str) ? null : str;

}